.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
    margin: 50px 0;
    padding: 20px 0;
    border-top: 1px solid var(--border-grey);
}

.pagination li a {
    padding: 8px 16px;
    border: 1px solid var(--border-grey);
    font-weight: bold;
    color: var(--text-main);
}

.pagination li.active a {
    background-color: var(--accent-red);
    color: var(--pure-white);
    border-color: var(--accent-red);
}

.pagination li a:hover:not(.active) {
    background-color: var(--primary-black);
    color: var(--pure-white);
    border-color: var(--primary-black);
}