.secondary-news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.card-secondary {
    border-bottom: 1px solid var(--border-grey);
    padding-bottom: 15px;
}